name: Update README

on:
  schedule:
    - cron: "*/30 * * * *"  # Esto actualizará cada 30 minutos
  workflow_dispatch:

jobs:
  build:
    name: Update this repo's README with recent activity
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "⚡ Update README with the recent activity"  # Puedes cambiar el mensaje del commit
          MAX_LINES: 5  # Número máximo de líneas de actividad
          COMMIT_NAME: "GitHub Activity Readme"
